* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#calculator {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.printNumber {
    height: 40px;
    width: 135px;
    font-size: 1.5em;
    margin-bottom: 0.3em;
}

.ColumnOne, .ColumnTwo, .ColumnThree {
    display: flex;
    gap: 0.3em;
}

.buttonCalc {
    margin-bottom: 0.3em;
    height: 3em;
    width: 3em;
}

.buttonCalcOption {
    margin-bottom: 0.3em;
    height: 2.5em;
    width: 1.84em;
    font-size: 1em;
}

.buttonResult, .buttonClear {
    margin-bottom: 0.3em;
    height: 2.5em;
    width: 48.4%;
    font-size: 1em;
}

.printNumber {
    text-align: right;
    padding: 4px;
}

/*input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    /*-webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden 
}

input[type=number] {
    -moz-appearance:textfield;
}*/

