* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

#calculator {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(255,124,0,1) 0%, rgba(12,0,255,1) 100%);
}

.printNumber {
    height: auto;
    width: auto;
    font-size: 30px;
    text-align: right;
    padding: 4px;
    border-radius: 10px;
    border: none;
    margin-bottom: 1px;
}

button {
    height: auto;
    width: auto;
    background: black;
    color: white;
    font-size: 27px;
    text-align: center;
}

button:hover {
    background: rgb(73, 73, 73);
}

button:active {
    background: rgb(124, 123, 123);
    transition: all 0.05s ease-in;
}

.clear, .result {
    background: #2b2caa;
}

.result {
    height: calc(100% - 8px);
}

.clear:hover, .result:hover {
    background: #4646a7;
}

.clear:active, .result:active {
    background: #6a6aa1;
    transition: all 0.05s ease-in;
}

.sum, .subtraction, .product, .division {
    background: #f15a22;
}

.sum:hover, .subtraction:hover, .product:hover, .division:hover {
    background: #f5794c;
}

.sum:active, .subtraction:active, .product:active, .division:active {
    background: #f3a285;
    transition: all 0.05s ease-in;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 270px;
    height: 400px;
    padding: 20px;
    background-color: rgb(48, 48, 48);
    border-radius: 10px;
    grid-gap: 2px;
}

.printNumber {
    grid-column: 1 / span 4;
}

.sum, .division, .product, .subtraction {
    grid-row: 2;
}

.seven, .eight, .nine {
    grid-row: 3;
}

.four, .five, .six {
    grid-row: 4;
}

.one, .two, .three {
    grid-row: 5;
}

.sinalNumber, .zero, .point {
    grid-row: 6;
}

.clear {
    grid-column: 4;
    grid-row: 3 / span 2;
}

.result {
    grid-column: 4;
    grid-row: 5 / span 6;
}

